<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact</title>

    <link rel="stylesheet" href="/css/mywebcard.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><a class="btn btn-dark" href="/">Home</a></li>
        <li><a class="btn btn-dark" href="/my-project">My Project</a></li>
        <li><a
            class="btn btn-dark"
            href="/contact"
            class="active"
          >Contact</a></li>
      </ul>
    </nav>

    <div class="kartu">
      <div class="data">
        <h4>Contact Me</h4>

        <p>
          Jika ingin menghubungi saya untuk kerja sama, diskusi, atau pertanyaan
          lainnya, silakan gunakan informasi kontak di bawah ini.
        </p>

        <p>
          <strong>Email:</strong><br />
          <i class="fa-solid fa-envelope"></i>
          ifuku.007@gmail.com
        </p>

        <p>
          <strong>Phone / WhatsApp:</strong><br />
          <i class="fa-solid fa-phone"></i>
          082171734864
        </p>

        <h6>Social Media</h6>
        <div class="sosmed">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>
    </div>
  </body>
</html>