{{!< dashboard}}

<h1 class="mb-4">
  Welcome to My Web ! Please Login to see My Project
</h1>

<div class="row">
  {{#each projects}}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <img src="{{this.image}}" class="card-img-top" />
      <div class="card-body">
        <h5>{{this.title}}</h5>
        <p>{{this.description}}</p>
        <a href="/project/{{this.id}}" class="btn btn-primary btn-sm">
          Detail
        </a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<!-- ===== HERO SCROLL ANIMATION ===== -->
<div class="hero-scroll-container">
  <div class="hero-scroll">

    <img src="/images/heroes/layla.png">
    <img src="/images/heroes/eudora.png">
    <img src="/images/heroes/alucard.png">
    <img src="/images/heroes/franco.png">
    <img src="/images/heroes/angela.png">
    <img src="/images/heroes/fanny.png">
    <img src="/images/heroes/chou.png">
    <img src="/images/heroes/clint.png">
    <img src="/images/heroes/bane.png">
    <img src="/images/heroes/akai.png">
    <img src="/images/heroes/alice.png">
    <img src="/images/heroes/nana.png">
    <img src="/images/heroes/balmond.png">
    <img src="/images/heroes/freya.png">
    <img src="/images/heroes/cyclops.png">
    <img src="/images/heroes/zilong.png">
    <img src="/images/heroes/bruno.png">

    <!-- Duplicate untuk infinite -->
    <img src="/images/heroes/layla.png">
    <img src="/images/heroes/eudora.png">
    <img src="/images/heroes/alucard.png">
    <img src="/images/heroes/franco.png">
    <img src="/images/heroes/angela.png">
    <img src="/images/heroes/fanny.png">
    <img src="/images/heroes/chou.png">
    <img src="/images/heroes/clint.png">
    <img src="/images/heroes/bane.png">
    <img src="/images/heroes/akai.png">
    <img src="/images/heroes/alice.png">
    <img src="/images/heroes/nana.png">
    <img src="/images/heroes/balmond.png">
    <img src="/images/heroes/freya.png">
    <img src="/images/heroes/cyclops.png">
    <img src="/images/heroes/zilong.png">
    <img src="/images/heroes/bruno.png">

  </div>
</div>
