{{!< dashboard}}

<h2>Login</h2>

<form action="/login" method="POST">
  <input
    type="email"
    name="email"
    class="form-control mb-3"
    placeholder="Email"
    required
  />
  <input
    type="password"
    name="password"
    class="form-control mb-3"
    placeholder="Password"
    required
  />
  <button class="btn btn-primary">Login</button>
</form>
{{#if error}}
<div class="alert alert-danger mt-3">{{error}}</div>
{{/if}}
