{{!< dashboard}}

<h2>Login</h2>

<form action="/login" method="POST">
  <input
    type="email"
    name="email"
    class="form-control mb-3"
    placeholder="Email"
    required
  />
  <input
    type="password"
    name="password"
    class="form-control mb-3"
    placeholder="Password"
    required
  />
  <button class="btn btn-primary">Login</button>
  <div class="mt-4 text-center">
    <p class="mb-0">
      Belum punya akun?
      <a href="/register" class="fw-semibold text-primary text-decoration-none">
        Daftar sekarang
      </a>
    </p>
  </div>
</form>
{{#if error}}
<div class="alert alert-danger mt-3">{{error}}</div>
{{/if}}
