<!doctype html>
<html>
  <head>
    <title>My Web Card</title>
    <link rel="stylesheet" href="../assets/styles/mywebcard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
    </nav>

    <div class="kartu">
      <img src="../assets/images/iif.jpg" alt="Iif" style="width: 100%" >
      <div class="data">
        <h4>My Personal Web Card</h4>
        <p>
          My name is Mhd Nur Ifaturachman. You can call me Iif. I'm 26 years
          old. I come from Kerinci, Jambi. I'm 162 cm tall and weigh 43 kg.
        </p>
        <p>
          I have several work experiences, such as working as a parcel courier
          for JNT and Shopee, and running a barbershop.
        </p>
        <h6>Here are some of my social media</h6>
        <div style="font-size: 30px">
          <i class="fa-brands fa-facebook"></i
          ><i class="fa-brands fa-instagram"></i
          ><i class="fa-brands fa-twitter"></i
          ><i class="fa-brands fa-whatsapp"></i>
        </div>
        <h6 class="terakhir">
          Tap here to <span style="color: blue">download</span> my Card
          <button style="font-size: 12px">Download</button>
        </h6>
      </div>
    </div>
  </body>
</html>
