body {
  background-color: aqua;
}

.container {
    background-color: aqua;
}

.container2 {
    background-color: gray;
    margin-top: 20px;
    padding: 20px;
}

nav {
  background-color: rgb(5, 253, 220);
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  background-color: white;
  margin-left: 10px;
}

.project-img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.tech-badge {
  border: 1px solid #000;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
}
