body {
  background: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: gray;
  font-size: 20px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  background: darkblue;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: bold italic comic sans ms;
}

.kerangka {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.kartu {
  background: gray;
  width: 90%;
  max-width: 1100px;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  gap: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.keterangan {
  flex: 2;
}

p {
  font-family: comic sans ms;
}

.info1 {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.info2 {
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 1.6;
}

.sosial {
  font-size: 20px;
  margin-top: 50px;
  display: flex;
}

.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-card {
  background: white;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.profile-card img {
  width: 100%;
  height: 300px;
  object-fit: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-text {
  margin: 5px;
  padding: 15px;
}

.profile-text h3 {
  margin-top: 2px;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #e5e7eb;
  width: 500px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content label {
  font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-submit {
  margin-top: 20px;
  align-self: flex-end;
  background: #0f172a;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
