body {
    background-color: aqua;
}

.navbar {
    background-color: rgb(88, 199, 250);
    padding: 15px 25px
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(255, 255, 255);
}

.kartu {
    max-width: 400px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: center;
}

.kartu img {
    width: 100%;
    height: auto;
    display: block;
}


.data {
    color: black;
    padding: 20px;
    text-align: center;
}

h6 {
    font-size: 15px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.terakhir {
    font-size: 10px;
    color: red
}

h4 {
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
}

p {
    font-size: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
