.navbar {
  background-color: aqua;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
  border: 2px solid black;
  background-color: white;
}

body {
  background-color: rgb(128, 128, 128);
  font-family: comic sans ms;
}

.webpage {
  background-color: rgb(122, 122, 122);
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

label {
  font-weight: bold;
  font-size: 20px;
}

#projectForm {
  max-width: 700px;
  padding: 10px;
  margin-left: 250px;
}

.form-label {
  background-color: rgb(255, 255, 255);
  margin: 5px;
}

.card img {
  background-color: aqua;
}

.tech {
  font-size: 5px;
  gap: 5px;
  margin-bottom: 10px;
  position: relative;
}

.hasil {
  background-color: aqua;
  padding: 50px;
}

.hasilsubmit {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.btn-sm {
  padding: 4px 14px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}
